* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    outline: none;
}

body{
    background: #001e4d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: #fff;
    margin: 1rem;
    padding: 30px;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
    border: none;
    text-align: center;
}

.container button {
    margin: 0.5rem 0;
    padding: 0.5rem 1rem;
    border-radius: 50px;
    background-color: rgb(55, 133, 52);
    border: none;
    color: white;
    outline: none;
}

img {
    max-width: 90%;
    max-height: 80%;
    border-radius: 10px;
}